:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
  .profile-card {
    padding: 0 20px 20px 20px;
    text-align: center;

    img {
      border-radius: 50%;
      height: 100px;
      object-fit: fill;
      width: 100px;
    }
  }
}
